<nav class="nav-desktop">
  <ul>
    <li><a href="">Sobre</a></li>
    <li><a href="">Preços</a></li>
    <li><a href="">Depoimentos</a></li>
    <li><a href="" class="btn-email">Mande e-mail agora!</a></li>
  </ul>
</nav>