<div class="container">
  {{> header }}
  <main>
    <div class="text-container">
      <h1>Olá, Esta é uma LandingPage desenvolvida por Wesley0010012!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in fermentum lorem. Ut varius risus vel est tempus, et faucibus magna convallis. Aliquam porttitor metus sed nulla suscipit, quis finibus enim tincidunt. </p>
    </div>
    <div class="image-container"></div>
  </main>
  <section class="about">
    <h1 class="titled">Sobre nós.</h1>
    <div class="who-we-are">
      <h3>Quem somos nós?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in fermentum lorem. Ut varius risus vel est tempus, et faucibus magna convallis. Aliquam porttitor metus sed nulla suscipit, quis finibus enim tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in fermentum lorem. Ut varius risus vel est tempus, et faucibus magna convallis. Aliquam porttitor metus sed nulla suscipit, quis finibus enim tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in fermentum lorem. Ut varius risus vel est tempus, et faucibus magna convallis. Aliquam porttitor metus sed nulla suscipit, quis finibus enim tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in fermentum lorem. Ut varius risus vel est tempus, et faucibus magna convallis. Aliquam porttitor metus sed nulla suscipit, quis finibus enim tincidunt. </p>
    </div>
  </section>
  <section class="what-we-make">
    <h3>O que fazemos?</h3>
    <p>Nós somos especialistas em: </p>
    <ul class="specialties">
      <li class="speciality-part">
        <div class="image"></div>
        <div class="text">
          <h4>Titulo do que faz</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in fermentum lorem. Ut varius risus vel est tempus, et faucibus magna convallis. Aliquam porttitor metus sed nulla suscipit, quis finibus enim tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in fermentum lorem.</p>
        </div>
      </li>
      <li class="speciality-part">
        <div class="image"></div>
        <div class="text">
          <h4>Titulo do que faz</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in fermentum lorem. Ut varius risus vel est tempus, et faucibus magna convallis. Aliquam porttitor metus sed nulla suscipit, quis finibus enim tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in fermentum lorem.</p>
        </div>
      </li>
      <li class="speciality-part">
        <div class="image"></div>
        <div class="text">
          <h4>Titulo do que faz</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in fermentum lorem. Ut varius risus vel est tempus, et faucibus magna convallis. Aliquam porttitor metus sed nulla suscipit, quis finibus enim tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in fermentum lorem.</p>
        </div>
      </li>
    </ul>
  </section>
  <section class="commentaries">
    <h3>Comentários de clientes: </h3>
    <ul>
      <li class="commentary-part">
        <div class="text">
          <h4>Nome do cliente.</h4>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in fermentum lorem. Ut varius risus vel est tempus, et faucibus magna convallis. Aliquam porttitor metus sed nulla suscipit, quis finibus enim tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in fermentum lorem."</p>
        </div>
        <div class="counter-text">
          <i class="fa fa-reply fa-3x"></i>
        </div>
      </li>
    </ul>
  </section>
</div>